$gris : #37517e;
$azul : #0c2e8a;
$agua : #50d8af;
$blanco : #fff;
$negro : #000;
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: $blanco;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid $gris;
  border-top-color: $blanco;
  border-bottom-color: $blanco;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $azul;
  color: $blanco;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: $agua;
  color: $blanco;
  outline: none;
}

.back-to-top:hover {
  background: $agua;
  color: $blanco;
}


//texto del banner y transparencia
#intro {
	width: 100%;
	height: 70vh ;
	position: relative;
	background-color: blueviolet;
	background: url(../../src/images/banner.png) no-repeat center ;
	background-size: cover ;
	padding: 0;
}
#intro #intro-carousel::before {
	content: '';
	background-color: rgba(255, 255, 255, 0.021);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 7;
}

#intro .intro-content h2 {
	color: $blanco;
	margin-bottom: 30px;
	font-size: 64px;
	font-weight: 700;
}

#intro .intro-content h2 span {
	color: $agua;
	font-size: 34px;
	font-weight: lighter;
}
@media (max-width: 767px) {
  #intro .intro-content h2 {
    font-size: 44px;
  }
  #intro .intro-content h2 span{
    font-size: 26px;
  }
}
//botones del banner
#intro .intro-content .btn-get-started {
background: $azul;
border: 2px solid $azul;
}

#intro .intro-content .btn-get-started:hover {
	background: none;
	color: $blanco;
}

#intro .intro-content .btn-projects {
	background: $agua;
	border: 2px solid $agua;
	}

#intro .intro-content .btn-projects:hover {
	background: none;
	color: $agua;
}

// boton de enviar email
#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: $agua;
}

#contact .php-email-form button[type="submit"] {
  background: $azul;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: $blanco;
  transition: 0.4s;
  cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover {
  background: $agua;
}

// boton whatsapp
.ht-ctc-cta-hover {
	padding: 5px 16px;
	background-color: rgb(37, 211, 102);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0px 10px;
	order: 1;
	display: block;
}