$gris : #37517e;
$azul : #0c2e8a;
$agua : #50d8af;
$blanco : #fff;
$negro : #000;
$rojo : #f51114;
$sm : 375px;
// $sm : 320px;
$md : 768px;
$lm : 800px;
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: $blanco;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid $gris;
  border-top-color: $blanco;
  border-bottom-color: $blanco;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: $azul;
  color: $blanco;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: $md) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: $agua;
  color: $blanco;
  outline: none;
}

.back-to-top:hover {
  background: $agua;
  color: $blanco;
}


//texto del banner y transparencia
#intro {
	width: 100%;
	height: 60vh ;
	position: relative;
	background-color: blueviolet;
	background: url(../../src/images/banner.jpg) no-repeat center ;
	background-size: cover ;
	padding: 0;
}
#intro #intro-carousel::before {
	content: '';
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 7;
}
#intro #intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
}
#intro .intro-content h2 {
	color: $azul;
	margin-bottom: 30px;
	font-size: 64px;
	font-weight: 700;
}

#intro .intro-content h2 span {
	color: $rojo;
	font-size: 34px;
	font-weight: bold;
}

//botones del banner
#intro .intro-content .btn-get-started, #intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}
#intro .intro-content .btn-get-started {
	background: $azul;
	border: 2px solid $azul;
}

#intro .intro-content .btn-get-started:hover {
	background: none;
	color: $azul;
}

#intro .intro-content .btn-projects {
	background: $rojo;
	border: 2px solid $rojo;
}

#intro .intro-content .btn-projects:hover {
	background: none;
	color: $rojo;
}



@media (max-width: $md) {
  #intro .intro-content h2 {
		font-size: 44px;
  }
  #intro .intro-content h2 span{
		font-size: 26px;
  }
}

@media (max-width: $sm) {
	#intro .intro-content h2 {
		font-size: 30px;
	}

	#intro{
		.intro-content{
			 h2{
				span{
					color: $rojo;
					font-size: 18px;

				}
			 }
		}
	}

	#intro {
		.intro-content{
			.btn-get-started, .btn-projects{
				font-size: 10px;
				padding: 8px 25px;
			}
		}
	}
}
// boton de enviar email


//
#contact .php-email-form .validate {
  display: none;
  color: $rojo;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#contact .php-email-form .error-message {
  display: none;
  color: $blanco;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: $blanco;
  background: $agua;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: $blanco;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid $agua;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input, #contact .php-email-form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}
#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: $agua;
}

#contact .php-email-form button[type="submit"] {
  background: $azul;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: $blanco;
  transition: 0.4s;
  cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover {
  background: $agua;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// boton whatsapp
.ht-ctc-cta-hover {
	padding: 5px 16px;
	background-color: rgb(37, 211, 102);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0px 10px;
	order: 1;
	display: block;
}

// header logo o nombre empresa
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#header #logo h1 a {
  color: $azul;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: $rojo;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width : $sm){
	#header #logo h1 a {
		font-size: 24px;
		color: $azul;
		line-height: 1;
		display: inline-block;
	}
}
@media (max-width: $md) {
  #header {
    padding: 20px 0;
    height: 74px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo img {
    max-height: 40px;
  }
}


/* comentario Section
--------------------------------*/
#comentario {
	// padding: 60px 0;
	border: 1px solid red;
	border-radius: 4px;
	padding: 5px;
}

#comentario .section-header {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #comentario .comentario-item {
    text-align: center;
  }
}

// #comentario .comentario-item .comentario-img {
//   width: 120px;
//   border-radius: 50%;
//   border: 4px solid #fff;
//   float: left;
// }

// @media (max-width: 767px) {
//   #comentario .comentario-item .comentario-img {
//     float: none;
//     margin: auto;
//   }
// }

#comentario .comentario-item h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  // margin-left: 140px;
}

#comentario .comentario-item h5 {
  font-size: 10px;
  color: #999;
  margin: 0 0 15px 0;
  // margin-left: 140px;
}

#comentario .comentario-item p {
  font-style: italic;
  margin: 0 0 15px 10px;
}
#comentario .comentario-item .respuesta {
  margin: 0 0 0 20px;
}

#comentario .comentario-item .respuesta p{
  font-size: 12px;
}

@media (min-width: 992px) {
  #comentario .comentario-item p {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #comentario .comentario-item h3, #comentario .comentario-item h4, #comentario .comentario-item p {
    margin-left: 0;
  }
}

#comentario .owl-nav, #comentario .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#comentario .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#comentario .owl-dot.active {
  background-color: #1bb1dc;
}